
SportsStore/.vs/SportsStore/v14/.suo
SportsStore/SportsStore/SportsStore.csproj
SportsStore/SportsStore/obj/Debug/SportsStore.pdb
SportsStore/SportsStore/obj/Debug/SportsStore.pdb
SportsStore/SportsStore/obj/Debug/SportsStore.dll
SportsStore/SportsStore/bin/SportsStore.pdb
SportsStore/SportsStore/bin/SportsStore.dll
SportsStore/SportsStore/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
SportsStore/.vs/SportsStore/v14/.suo
